/*Text*/


.standout {
  font-weight: bold;
}

.custom-link {
    color: black;
    text-decoration:none
}

.custom-link:hover {
    color: red;
    text-decoration:none
}

/*Buttons*/

/*Icons*/

.custom-icon {
    color: black;
}
